<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>Total de ordenes {{total_orders}}</p>
    <p>Total de pagos {{total_payments}}</p>
    <div class="container">
        {%for item in orders%}
        <div><p>ID: {{item.id}} Total: {{item.total}}</p></div>
        {% endfor %}
    </div>
    <br>
    <div class="container">
        {% for q in questions %}
        <div>{{q.id}} --- {{q.question_text}}</div>
        {% endfor %}
    </div>

</body>

</html>