{% extends "base/base.html" %}
{% load static %}
{% block content %}

<form method="POST" action="{% url 'createUser' %}" class="create-user-form" id="create-user-form">
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br>

    <label for="rfc">RFC:</label>
    <input type="text" id="rfc" name="rfc" required><br>

    <label for="photo">Photo URL:</label>
    <input type="text" id="photo" name="photo" required><br>

    <button id="create-user-bottom">Create User</button>
</form>

{% endblock %}

{% block scripts %}
<script>
    const USER_CREATE_URL = "{% url 'createUser' %}";
</script>
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}


