.containerLogin{
    border: 1px black solid;
    width: 50%;
    margin:auto;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    color: white;
}

.containerLogin h3
{
    text-align: center;
    padding: 10px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.formLogin div
{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin div input
{
    padding: 15px;
    width: 85%;
    margin: auto;
}

.formLogin button
{
    padding: 10px 20px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: red;
    color: white;
}