<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>

    {% include 'base/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'base/footer.html' %}
    
</body>

{% block scrips %}
{% endblock %}
</html>