{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/agregarProducto.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Agregar Producto</h1>
    <div class="form">
        <form method="POST" action="" id="agregar-producto-form">
            <input type="hidden" id="csrf_token" value="{{csrf_token}}">
            <label for="name">Nombre del producto:</label><br>
            <input type="text" id="name" name="name" placeholder="Nombre evento" required><br>
    
            <label for="precio">Precio:</label><br>
            <input type="number" id="precio" name="precio" min="0.01" step="0.01" required><br><br>
    
            <label for="localidad">Localidad:</label><br>
            <select id="localidad" name="localidad" required>
                {% for item in localidades %}
                    <option value={{item.name}}>{{item.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button id="create-producto-button">Agregar</button>
        </form>
    </div>
</div>


<div class="eventos-nuevos">
    <h1>Productos recientemente agregados</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Localidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos_recientes %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.precio }}</td>
                <td id="localidad-{{forloop.counter}}">{{ item.localidad.name }}</td>
                <td><button id="eliminar-boton" data-id="{{ item.id }}">Eliminar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
    <script>
        const PRODUCT_CREATE_URL = "{% url 'agregar_productobyfetch' %}";
        const PRODUCT_DELETE_URL = "{% url 'eliminar_productobyfetch' %}";
    </script>
    <script src="{% static 'js/agregarProducto.js' %}"></script>
{% endblock %}
