{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/agregar_evento.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Agregar evento</h1>
    <div class="form">
        <form method="POST" action="" id="agregar-evento-form">
            <input type="hidden" id="csrf_token" value="{{csrf_token}}">
            <label for="name">Nombre evento:</label><br>
            <input type="text" id="name" name="name" placeholder="Nombre evento" required><br>
    
            <label for="fecha-inicio">Fecha inicio:</label><br>
            <input type="datetime-local" id="fecha-inicio" name="fecha-inicio" required><br>
    
            <label for="fecha-fin">Fecha final:</label><br>
            <input type="datetime-local" id="fecha-fin" name="fecha-fin" required><br>
    
            <label for="localidad">Localidad:</label><br>
            <select id="localidad" name="localidad" required>
                {% for item in localidades %}
                    <option value={{item.name}}>{{item.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button id="create-event-button">Agregar</button>
        </form>
    </div>
</div>
<div class="eventos-nuevos">
    <h1>Eventos recientemente agregados</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Localidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in eventos_recientes %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.fecha_inicio }}</td>
                <td>{{ item.fecha_fin }}</td>
                <td id="localidad-{{forloop.counter}}">{{ item.localidad.name }}</td>
                <td><button id="eliminar-boton" data-id="{{ item.id }}">Eliminar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
    <script>
        const EVENTO_CREATE_URL = "{% url 'agregar_eventobyfetch' %}";
        const DELETE_EVENTO_URL = "{% url 'eliminar_eventobyfetch' %}";
    </script>
    <script src="{% static 'js/agregar_evento.js' %}"></script>
{% endblock %}


