{% extends 'base/base.html' %}
{% load static %}

{% block title %}Boletos{% endblock %}

{% block extra_css %}
<!-- Cargar el archivo CSS específico para boletos -->
<link rel="stylesheet" href="{% static 'css/boletos.css' %}">
{% endblock %}

{% block content %}
<div class="boletos-container">
    <h1 class="boletos-title">Boletos</h1>
    <div class="boletos-grid">
        <!-- Iterar sobre los boletos -->
        {% for boleto in boletos %}
        <div class="boleto-card">
            {% include 'components/boleto_card.html' with nombre=boleto.evento.name localidad=boleto.evento.localidad.name precio=boleto.precio image_url="images/boleto" %}  
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
