body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.eventos-nuevos {
    margin-top: 40px;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}

button#eliminar-boton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

