body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.create-user-form {
    max-width: 500px;
    width: 90%; 
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 20, 147, 0.1); 
    
}

.create-user-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.create-user-form input[type="text"],
.create-user-form input[type="email"],
.create-user-form input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff69b4; /* Borde rosita */
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.create-user-form input[type="text"]:focus,
.create-user-form input[type="email"]:focus,
.create-user-form input[type="number"]:focus {
    border-color: #ff1493; /* Borde rosita más oscuro al enfocar */
    outline: none;
    box-shadow: 0 0 5px rgba(255, 20, 147, 0.3); /* Sombra al enfocar */
}

.create-user-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff69b4; /* Fondo rosita */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

