/* Estilos para el footer */
footer {
    background-color: #8aec8a; 
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
}

footer p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}