/* Estilos para el footer */
footer {
    background-color: #ff69b4; /* Fondo rosita */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
}

footer p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}