/* Estilos generales para el menú */
.menu {
    display: flex;
    justify-content: space-evenly; /* Alinea los elementos a la derecha */
    padding: 15px 20px;
    background-color: #ffefff; /* Fondo rosa claro y suave */
    border-bottom: 2px solid #ffb6c1; /* Borde inferior rosa claro */
    box-shadow: 0 2px 4px rgba(255, 182, 193, 0.2); /* Sombra suave */
}

/* Estilos para las opciones del menú */
.menu-options {
    display: flex;
    align-items: center;
}

.menu-options a {
    margin: 0 20px; /* Espacio entre los enlaces */
    text-decoration: none; /* Sin subrayado */
    color: #d94f8c; /* Color rosa oscuro */
    font-size: 18px;
    font-family: 'Georgia', serif; /* Tipografía elegante */
    font-weight: bold;
    letter-spacing: 1px; /* Espaciado entre letras */
}


