
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: white; 
}

/* Estilos para la imagen */
.landing-image {
    max-width: 90%; 
    max-height: 90%; 
}